<div class="container-fluid p-0 h-100">
  <div class="row h-97 m-0">
    <div class="col-md-4 p-0">
      <div class="header">
        <div class="d-flex align-items-center h-100 p-2 justify-content-between">
          <app-navegation></app-navegation>
<!--           <div class="d-flex align-items-center">
                <div class="ms-4 d-flex align-center">
                  <i class="icon-add icon--five me-3 link" ></i>
                </div>
              </div> -->
        </div>
      </div>
      <app-tab-orders></app-tab-orders>
    </div>
    <div class="col-md-8 pe-0 ps-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

