<div class="header">
  <div class="d-flex align-items-center h-100 justify-content-between">
    <h2 class="ms-2">{{items?.first_name}} {{items?.last_name}}</h2>
    <div class="d-flex align-items-center h-100">
      <div class="ms-4 d-flex align-center">
        <i class="icon-edit h-fz--20 h-color--primary me-3" matTooltip="Editar" routerLink="/commerce/stores/add"></i>
        <i class="icon-trash h-fz--20 h-color--red me-2" matTooltip="Eliminar" routerLink="/commerce/stores/add"></i>
      </div>
    </div>
  </div>
</div>
<div class="body-content--detail">
  <div class="row">
    <div class="col-md-12 h-border--bottom">
      <p class="h-fz--12 h-fw--500 mb-2">Compras realizadas</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 h-border--bottom pt-3 pb-3">
      <div class="d-flex justify-content-between align-items-center h-fz--12">
        <div>
          <p class="m-0">Recibo N° 857421963</p>
          <p class="m-0 h-color--tertiary">2021, may 12 - 18:35</p>
        </div>
        <div class="text-end">
          <p class="m-0 h-color--five">S/ 24.50</p>
          <p class="m-0 h-color--tertiary">Pedido delivery</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 h-border--bottom pt-3 pb-3">
      <div class="d-flex justify-content-between align-items-center h-fz--12">
        <div>
          <p class="m-0">Recibo N° 857421963</p>
          <p class="m-0 h-color--tertiary">2021, may 12 - 18:35</p>
        </div>
        <div class="text-end">
          <p class="m-0 h-color--five">S/ 24.50</p>
          <p class="m-0 h-color--tertiary">Pedido delivery</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 h-border--bottom pt-3 pb-3">
      <div class="d-flex justify-content-between align-items-center h-fz--12">
        <div>
          <p class="m-0">Recibo N° 857421963</p>
          <p class="m-0 h-color--tertiary">2021, may 12 - 18:35</p>
        </div>
        <div class="text-end">
          <p class="m-0 h-color--five">S/ 24.50</p>
          <p class="m-0 h-color--tertiary">Pedido delivery</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 h-border--bottom pt-3 pb-3">
      <div class="d-flex justify-content-between align-items-center h-fz--12">
        <div>
          <p class="m-0">Recibo N° 857421963</p>
          <p class="m-0 h-color--tertiary">2021, may 12 - 18:35</p>
        </div>
        <div class="text-end">
          <p class="m-0 h-color--five">S/ 24.50</p>
          <p class="m-0 h-color--tertiary">Pedido delivery</p>
        </div>
      </div>
    </div>
  </div>
</div>
