<div class="header">
  <div class="d-flex align-items-center h-100">
    <h2 class="ms-2">Pago con efectivo</h2>
  </div>
</div>
<div class="body-content--detail">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="h-border--bottom h-fw--500 d-flex align-items-center">
        <div class="w-100 d-flex align-items-center justify-content-center">
          <div>
            <p class="h-fz--12 mb-1">Total a pagar</p>
            <p class="h-fz--22 h-color--secondary">S/29.50</p>
          </div>
        </div>
        <div class="w-100 d-flex align-items-center justify-content-center">
          <div>
            <p class="h-fz--12 mb-1">Cambio</p>
            <p class="h-fz--22 h-color--secondary">{{ totalEfectivo | currency:'S/' }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="calculator mt-4">
        <div class="calculator--header">
          <p class="m-0">{{cash}}</p>
        </div>
        <div class="calculator--body">
          <div class="calculator--body__btn">
            <p (click)="operador(7)">7</p>
            <p (click)="operador(8)">8</p>
            <p (click)="operador(9)">9</p>
            <p (click)="operador(10)">10</p>
          </div>
          <div class="calculator--body__btn">
            <p (click)="operador(4)">4</p>
            <p (click)="operador(5)">5</p>
            <p (click)="operador(6)">6</p>
            <p (click)="operador(10)">20</p>
          </div>
          <div class="calculator--body__btn">
            <p (click)="operador(1)">1</p>
            <p (click)="operador(2)">2</p>
            <p (click)="operador(3)">3</p>
            <p (click)="operador(50)">50</p>
          </div>
          <div class="calculator--body__btn">
            <p (click)="reset()">C</p>
            <p (click)="operador(0)">0</p>
            <p (click)="punto()">.</p>
            <p (click)="exact(amount)">Exact</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
      <button class="w-100 g-button" [class.g-button--secundary]="cash < amount" [class.g-button--primary]="cash >= amount" [disabled]="cash >= amount" >Cobrar</button>
    </div>
  </div>
</div>
