<div class="header">
  <div class="d-flex align-items-center h-100 justify-content-between">
    <h2 class="ms-2">Usuarios asociados</h2>
    <div class="ms-4 d-flex align-center link" matTooltip="Invitar usuario" (click)="showInvitado()">
      <i class="icon-add icon--five me-3"></i>
    </div>
  </div>
</div>
<div class="body-content--detail">
  <div class="row pt-3">
      <div class="col-md-12">
        <div class="d-flex align-center w-100 pb-3 h-border--bottom">
            <div class="searc ">
              <input type="text" placeholder="Buscar...">
              <i class="icon-search"></i>
            </div>
          </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-12">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Rol</th>
                <th scope="col">Tiendas</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container [ngTemplateOutlet]="row" *ngIf="usersCompanys.length > 0"></ng-container>
              <ng-container [ngTemplateOutlet]="norow" *ngIf="usersCompanys.length == 0"></ng-container>
            </tbody>
          </table>
      </div>
    </div>
</div>

<ng-template #row>
  <tr *ngFor="let item of usersCompanys; let i = index">
    <th scope="row">{{i + 1 }}</th>
    <td>{{item.first_name + ' '+ item.last_name}}</td>
    <td>{{item.email}}</td>
    <td>{{item.phone}}</td>
    <td *ngIf="item.role =='own'">Admin</td>
    <td *ngIf="item.role =='usr'">Usuario</td>
    <td>Todas</td>
    <td><i class="icon-store icon--primary ms-2 link" (click)="showAssignStores(item)"></i></td>
    <td><i class="icon-protected icon--primary ms-2 link" (click)="showChangePassword(item)"></i></td>
    <td><i class="icon-edit icon--primary ms-2 link" (click)="showEditUser(item)"></i></td>
    <td><i class="icon-trash icon--trash ms-2 link"></i></td>
  </tr>
</ng-template>
<ng-template #norow>
  <tr>
    <td colspan="11">No se encontraron registros</td>
  </tr>
</ng-template>


