<ng-container>
  <li [ngClass]="item.classes" *ngIf="item.url && !item.external" [routerLinkActive]="['active']" role="presentation"  >
    <a class="nav-link" [target]="item.target ? '_blank' : '_self'" [routerLink]="[item.url]" >
      <span class="w-100 text-start d-flex">
        <ng-container *ngTemplateOutlet="itemIcon"></ng-container>
        <span *ngIf="item.icon; else directTitle">{{ item.title }}</span>
        <ng-template  #directTitle>
          <span>{{item.title}}</span>
        </ng-template>
        <ng-container *ngTemplateOutlet="itemBadge"></ng-container>
      </span>
      <i class="icon-arrow-right-2 h-color--secondary"></i>
    </a>
  </li>
  <li [ngClass]="item.classes" *ngIf="item.url && item.external" role="presentation">
    <a [target]="item.target ? '_blank' : '_self'" [href]="item.url">
      <ng-container *ngTemplateOutlet="itemIcon"></ng-container>
      <span *ngIf="item.icon; else directTitle">{{ item.title }}</span>
      <ng-template #directTitle>
        {{item.title}}
      </ng-template>
      <ng-container *ngTemplateOutlet="itemBadge"></ng-container>
    </a>
  </li>
  <ng-template #itemIcon>
    <span *ngIf="item.icon" class="pcoded-micon"><i class="feather" [ngClass]="item.icon"></i></span>
  </ng-template>
  <ng-template #itemBadge>
    <span *ngIf="item.badge" class="pcoded-badge badge" [ngClass]="item.badge.type">
      {{item.badge.title}}
    </span>
  </ng-template>
</ng-container>
