<div class="header">
  <div class="d-flex align-items-center h-100 justify-content-between">
    <h2 class="ms-2">Tiendas</h2>
    <div class="ms-4 d-flex align-center link" matTooltip="Añadir tienda" routerLink="/commerce/stores/add">
      <i class="icon-add icon--five me-3"></i>
    </div>
  </div>
</div>
<div class="body-content--detail">
    <div class="row pt-3">
      <div class="col-md-12">
        <div class="d-flex align-center w-100 pb-3 h-border--bottom">
            <div class="searc ">
              <input type="text" placeholder="Buscar...">
              <i class="icon-search"></i>
            </div>
          </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-12">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Título</th>
                <th scope="col">Télefono</th>
                <th scope="col">Dirección</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container [ngTemplateOutlet]="row" *ngIf="stores.length > 0"></ng-container>
              <ng-container [ngTemplateOutlet]="norow" *ngIf="stores.length == 0"></ng-container>
            </tbody>
          </table>
<!--      <mat-paginator [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page"> </mat-paginator> -->
      </div>
    </div>
</div>

<ng-template #row>
  <tr *ngFor="let item of stores; let i = index" >
    <th scope="row">{{i + 1}}</th>
    <td>{{item.title}}</td>
    <td>{{item.phone}}</td>
    <td>{{item.street_name}}</td>
    <td *ngIf="item.status == 1">Abierto</td>
    <td *ngIf="item.status == 0">Inactivo</td>
    <td><i class="icon-edit icon--primary g-pointer ms-2" (click)="edit(item.id)" matTooltip="Editar" style="cursor: pointer;"></i></td>
    <td><i class="icon-trash icon--trash g-pointer ms-2" (click)="remove(item.id)" matTooltip="Eliminar" style="cursor: pointer;"></i></td>
  </tr>
</ng-template>
<ng-template #norow>
  <tr>
    <td colspan="7">No se encontraron registros</td>
  </tr>
</ng-template>


