<div class="header">
  <div class="d-flex align-items-center h-100">
    <h2 class="ms-2">Formas de Pagos</h2>
  </div>
</div>
<div class="body-content--detail">
  <div class="h-border--bottom h-fw--500">
    <p class="h-fz--12 mb-1">Monto</p>
    <p class="h-fz--32 h-color--secondary">S/29.50</p>
  </div>
  <div class="h-border--bottom d-flex align-items-start pb-3 pt-3">
    <i class="icon-add-person h-fz--18 pe-3 h-color--secondary"></i>
    <div class="h-fz--12 h-fw--500">
      <p class="mb-1">Nombre: Juan Cazorla</p>
      <p class="mb-1">DNI: 54782255</p>
      <p class="mb-1">Boleta de venta</p>
    </div>
  </div>
  <a routerLink="/payments/cash-payment" class="text-decoration-none h-border--bottom d-flex align-items-center pb-3 pt-3 h-fz--12 h-fw--500">
    <i class="icon-cash h-fz--18 pe-3 h-color--secondary"></i>
    <p class="m-0 w-100 h-color--text">Pagar con efectivo</p>
    <i class="icon-arrow-right-2 h-fz--13 h-color--secondary"></i>
  </a>
  <a href="" class="text-decoration-none h-border--bottom d-flex align-items-center pb-3 pt-3 h-fz--12 h-fw--500">
    <i class="icon-card h-fz--18 pe-3 h-color--secondary"></i>
    <p class="m-0 w-100 h-color--text">Pagar con tarjeta</p>
    <i class="icon-arrow-right-2 h-fz--13 h-color--secondary"></i>
  </a>
  <a href="" class="text-decoration-none h-border--bottom d-flex align-items-center pb-3 pt-3 h-fz--12 h-fw--500">
    <i class="icon-qr h-fz--18 pe-3 h-color--secondary"></i>
    <p class="m-0 w-100 h-color--text">Pagar con billetera QR</p>
    <i class="icon-arrow-right-2 h-fz--13 h-color--secondary"></i>
  </a>
  <a routerLink="/payments/split-payment" class="text-decoration-none h-border--bottom d-flex align-items-center pb-3 pt-3 h-fz--12 h-fw--500">
    <i class="icon-divide h-fz--18 pe-3 h-color--secondary"></i>
    <p class="m-0 w-100 h-color--text">Dividir pago</p>
    <i class="icon-arrow-right-2 h-fz--13 h-color--secondary"></i>
  </a>
</div>
