<div class="modal-header" style="padding: 0px 15px;">
  <h2 class="modal-login--title w-100">{{data.title}}</h2>
  <div class="modal-login--close">
    <a class="btn-close" (click)="close()"></a>
  </div>
</div>
<div class="modal-body">
  <form [formGroup]="formImage" (ngSubmit)="saveImg()">
  <div class="col-md-12 mt-2">
    <div class="g-modal--body">
      <div class="col-md-12">
        <div>
          <input class="form-control" type="file" (change)="fileChangeListener($event)">
        </div>
        <div class="mt-2 justify-content-center">
          <img-cropper #cropper [image]="img" [settings]="cropperSettings" (onCrop)="changeImg()" ></img-cropper>
        </div>
        <div class="mt-2">
          <span class="result rounded" *ngIf="img.image">
            <img
              [src]="img.image"
              [width]="cropperSettings.width"
              [height]="cropperSettings.height"

            />
          </span>
         <!--  <img [src]="img.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight"> -->
        </div>
      </div>
      <div class="col-md-10 mx-auto">
        <div class="mb-3">
          <div class="mt-3">
<!--             <input type="hidden" formControlName="upload" /> -->
            <button type="submit" class="g-button g-button--primary"
            [class.g-button--secundary]="formImage.invalid"
            [disabled]="formImage.invalid">
               Aceptar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>
