<div class="icon--arrow">
  <i class="icon-arrow-left" (click)="back()" style="cursor: pointer;"></i>
</div>
<form ngActive [formGroup]="frmChangePassword" (submit)="changePassword()" >
  <div class="g-modal--head">
    <h2 class="modal-login--title">Cambiar contraseña</h2>
  </div>
  <div class="modal-body">
    <div class="g-div g-div--colum">
      <span class="g-span">Introduzca la nueva contraseña:</span>
    </div>
    <div class="mt-3">
      <div class="g-input--material mb-3">
        <label for="material-input">
          <input type="password" matInput name="password" formControlName="password" placeholder="Contraseña" autocomplete="off">
          <span class="placeholder">Contraseña</span>
        </label>
        <mat-error class="g-span-error" *ngIf="frmChangePassword.get('password')?.hasError('required') && frmChangePassword.get('password')?.touched">Rellene el campo de contraseña</mat-error>
        <mat-error class="g-span-error" *ngIf="frmChangePassword.get('password')?.hasError('minlength') && frmChangePassword.get('password')?.touched">La contraseña debe tener minimo 6 caracteres</mat-error>
        <mat-error class="g-span-error" *ngIf="frmChangePassword.get('password')?.hasError('maxlength') && frmChangePassword.get('password')?.touched">La contraseña debe tener minimo 24 caracteres</mat-error>
      </div>
      <div class="g-input--material mb-3">
        <label for="material-input">
          <input type="password" matInput name="confirmPassword" formControlName="confirmPassword" autocomplete="off">
          <span class="placeholder">Confirmar Contraseña</span>
        </label>
        <mat-error class="g-span-error" *ngIf="frmChangePassword.get('confirmPassword')?.hasError('required') && frmChangePassword.get('confirmPassword')?.touched">Rellene el campo de contraseña</mat-error>
        <mat-error class="g-span-error" *ngIf="frmChangePassword.get('confirmPassword')?.hasError('minlength') && frmChangePassword.get('confirmPassword')?.touched">La contraseña debe tener minimo 6 caracteres</mat-error>
        <mat-error class="g-span-error" *ngIf="frmChangePassword.get('confirmPassword')?.hasError('maxlength') && frmChangePassword.get('confirmPassword')?.touched">La contraseña debe tener max 24 caracteres</mat-error>
        <br>
        <mat-error class="g-span-error" *ngIf="frmChangePassword?.hasError('notSame') && frmChangePassword.get('confirmPassword')?.touched">La contraseña no coinciden</mat-error>

        <!-- <mat-hint align="end" *ngIf="!passwordConfirmIsValid()" class="form-text text-muted"><p class="text-danger">Falta repetir la contraseña nueva</p></mat-hint> -->
        <!-- <mat-hint align="end" *ngIf="frmChangePassword.hasError('mismatch')" class="form-text text-muted"><p class="text-danger">Confirmar password</p></mat-hint> -->
      </div>
    </div>
    <div class="mt-5 text-center">
      <button type="submit" class="g-button text-white" mat-button [class.g-button--primary]="frmChangePassword.valid" [class.g-button--secundary]="!frmChangePassword.valid" [disabled]="!frmChangePassword.valid">
        <span class="spinner-border spinner-border-sm" role="status" *ngIf="isloading" ></span>
        Cambiar contraseña
      </button>
    </div>
  </div>
</form>
