<div class="container-fluid p-0 h-100">
  <div class="row h-97 m-0">
    <div class="col-md-4 p-0">
      <div class="header">
        <div class="d-flex align-items-center h-100 p-2 justify-content-between">
          <app-navegation></app-navegation>
          <div class="d-flex align-items-center">
                <div class="ms-4 d-flex align-center">
                  <i class="icon-add icon--five me-3 link" (click)="addClients()"></i>
                </div>
              </div>
        </div>
      </div>
      <!-- LISTA DE CLIENTES -->
      <div class="h-97 body-content--white">
        <div class="p-3">
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex align-center w-100 pb-3">
                <div class="searc ">
                  <input type="search" placeholder="Buscar..." (search)="searchFilter()" >
                  <i class="icon-search link" (click)="searchFilter()"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul class="list-tab" *ngIf="!isLoading">
                <li *ngFor="let item of clients" (click)="selectUser(item)">
                  <span>
                    {{item.first_name}} {{item.last_name}}<br>
                    <!-- <small>{{item.email}}</small> -->
                  </span>
                  <i class="icon-arrow-right-2 h-color--secondary"></i>
                </li>
              </ul>
              <ul class="list-tab" *ngIf="isLoading">
                <li>
                  <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
                </li>
                <li>
                  <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 pe-0 ps-2">
      <ng-container [ngTemplateOutlet]="details" *ngIf="getRouter() == false"></ng-container>
      <ng-container [ngTemplateOutlet]="router" *ngIf="getRouter() == true"></ng-container>
    </div>
  </div>
</div>


<ng-template #details>
 <app-clients-historys [items]="client"></app-clients-historys>
</ng-template>
<ng-template #router>
  <router-outlet> </router-outlet>
</ng-template>


