
<div class="h-100 p-0 body-content--blue">
  <div class="row m-0 justify-content-center">
    <div class="col-md-5 pt-5">
      <div class="completed text-center">
        <img class="mb-4 completed--img" src="assets/img/completed.svg" alt="">
        <h2 class="title">Venta Completada</h2>
        <p class="bajada mb-4">La transacción de <b>S/ 29.50</b> ha sido exitosamente procesada</p>
        <div class="completed--share">
          <p class="text mb-1">Seleccione la forma de su recibo</p>
          <div class="d-flex align-items-center justify-content-between mb-4">
            <div class="item">
              <i class="icon-pdf"></i>
              <p>PDF</p>
            </div>
            <div class="item">
              <i class="icon-mail"></i>
              <p>Email</p>
            </div>
            <div class="item">
              <i class="icon-print"></i>
              <p>Imprimir</p>
            </div>
            <div class="item">
              <i class="icon-share"></i>
              <p>Compartir</p>
            </div>
          </div>
          <div>
            <button class="w-100 g-button g-button--thirty">Nueva venta</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
