<div class="body-content--white">
  <div class="p-3">
    <nav class="tab--vertical">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-new-tab" data-bs-toggle="tab" data-bs-target="#nav-new" type="button" role="tab" aria-controls="nav-new" aria-selected="true">Nuevo</button>
        <button class="nav-link" id="nav-ruta-tab" data-bs-toggle="tab" data-bs-target="#nav-ruta" type="button" role="tab" aria-controls="nav-ruta" aria-selected="false">En ruta</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab">
        <div class="online-orders">
          <div class="online-orders--items active">
            <div class="d-flex align-items-start justify-content-between mb-2">
              <div class="d-flex align-items-center">
                <img src="assets/img/moto.svg" alt="">
                <div class="h-color--tertiary h-fz--12 ps-2">
                  <p class="m-0">Pedido Nº 8574</p>
                  <p class="m-0">2021-04-25 - 19:12</p>
                </div>
              </div>
              <span class="button g-button--check ps-2 pe-2">Nuevo</span>
            </div>
            <div class="h-border--bottom mb-2">
              <h3 class="h-fz--16 h-color--five mb-0">SuperShop</h3>
              <p class="h-fz--12 mb-2">Francisco</p>
            </div>
            <div class="d-flex align-items-start justify-content-between h-fz--12">
              <span>994257270</span>
              <span class="h-color--tertiary">Delivery</span>
            </div>
            <div class="d-flex align-items-start justify-content-between h-fz--12">
              <span>Dirección: Pascal 540</span>
              <span class="h-color--five"><b>S/57.00</b></span>
            </div>
            <div class="d-flex align-items-start justify-content-between h-fz--12">
              <span>Pago contra entrega con tarjeta</span>
              <span class="h-color--tertiary">Envío: S/ 5.00</span>
            </div>
          </div>
          <div class="online-orders--items">
            <div class="d-flex align-items-start justify-content-between mb-2">
              <div class="d-flex align-items-center">
                <img src="assets/img/moto.svg" alt="">
                <div class="h-color--tertiary h-fz--12 ps-2">
                  <p class="m-0">Pedido Nº 8574</p>
                  <p class="m-0">2021-04-25 - 19:12</p>
                </div>
              </div>
              <span class="button g-button--check ps-2 pe-2">Nuevo</span>
            </div>
            <div class="h-border--bottom mb-2">
              <h3 class="h-fz--16 h-color--five mb-0">SuperShop</h3>
              <p class="h-fz--12 mb-2">Francisco</p>
            </div>
            <div class="d-flex align-items-start justify-content-between h-fz--12">
              <span>994257270</span>
              <span class="h-color--tertiary">Delivery</span>
            </div>
            <div class="d-flex align-items-start justify-content-between h-fz--12">
              <span>Dirección: Pascal 540</span>
              <span class="h-color--five"><b>S/57.00</b></span>
            </div>
            <div class="d-flex align-items-start justify-content-between h-fz--12">
              <span>Pago contra entrega con tarjeta</span>
              <span class="h-color--tertiary">Envío: S/ 5.00</span>
            </div>
          </div>
          <div class="online-orders--items">
            <div class="d-flex align-items-start justify-content-between mb-2">
              <div class="d-flex align-items-center">
                <img src="assets/img/moto.svg" alt="">
                <div class="h-color--tertiary h-fz--12 ps-2">
                  <p class="m-0">Pedido Nº 8574</p>
                  <p class="m-0">2021-04-25 - 19:12</p>
                </div>
              </div>
              <span class="button g-button--check ps-2 pe-2">Nuevo</span>
            </div>
            <div class="h-border--bottom mb-2">
              <h3 class="h-fz--16 h-color--five mb-0">SuperShop</h3>
              <p class="h-fz--12 mb-2">Francisco</p>
            </div>
            <div class="d-flex align-items-start justify-content-between h-fz--12">
              <span>994257270</span>
              <span class="h-color--tertiary">Delivery</span>
            </div>
            <div class="d-flex align-items-start justify-content-between h-fz--12">
              <span>Dirección: Pascal 540</span>
              <span class="h-color--five"><b>S/57.00</b></span>
            </div>
            <div class="d-flex align-items-start justify-content-between h-fz--12">
              <span>Pago contra entrega con tarjeta</span>
              <span class="h-color--tertiary">Envío: S/ 5.00</span>
            </div>
          </div>
          <div class="online-orders--items">
            <div class="d-flex align-items-start justify-content-between mb-2">
              <div class="d-flex align-items-center">
                <img src="assets/img/moto.svg" alt="">
                <div class="h-color--tertiary h-fz--12 ps-2">
                  <p class="m-0">Pedido Nº 8574</p>
                  <p class="m-0">2021-04-25 - 19:12</p>
                </div>
              </div>
              <span class="button g-button--check ps-2 pe-2">Nuevo</span>
            </div>
            <div class="h-border--bottom mb-2">
              <h3 class="h-fz--16 h-color--five mb-0">SuperShop</h3>
              <p class="h-fz--12 mb-2">Francisco</p>
            </div>
            <div class="d-flex align-items-start justify-content-between h-fz--12">
              <span>994257270</span>
              <span class="h-color--tertiary">Delivery</span>
            </div>
            <div class="d-flex align-items-start justify-content-between h-fz--12">
              <span>Dirección: Pascal 540</span>
              <span class="h-color--five"><b>S/57.00</b></span>
            </div>
            <div class="d-flex align-items-start justify-content-between h-fz--12">
              <span>Pago contra entrega con tarjeta</span>
              <span class="h-color--tertiary">Envío: S/ 5.00</span>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-ruta" role="tabpanel" aria-labelledby="nav-ruta-tab">
        <div class="online-orders">
          <div class="online-orders--items active">
            <div class="d-flex align-items-start justify-content-between mb-2">
              <div class="d-flex align-items-center">
                <img src="assets/img/moto.svg" alt="">
                <div class="h-color--tertiary h-fz--12 ps-2">
                  <p class="m-0">Pedido Nº 8574</p>
                  <p class="m-0">2021-04-25 - 19:12</p>
                </div>
              </div>
              <span class="h-color--five">S/ 112.07</span>
            </div>
            <div class="h-border--bottom d-flex align-items-start justify-content-between mb-2 pb-2">
              <h3 class="h-fz--16 h-color--five mb-0">SuperShop</h3>
              <span class="h-fz--12 h-color--tertiary">Envío: S/ 5.00</span>
            </div>
            <div class="h-border--bottom d-flex align-items-center justify-content-between h-fz--12 pb-2">
              <div class="h-fz--12">
                <p class="m-0">Diego Salcedo</p>
                <p class="m-0">Teléfono: 994257270</p>
              </div>
              <div class="d-flex align-items-center">
                <a href="#">
                  <img src="assets/img/iwhatsapp.svg" alt="">
                </a>
                <a class="ms-2" href="#">
                  <img src="assets/img/phone.svg" alt="">
                </a>
              </div>
            </div>
            <div class="d-flex align-items-start pt-2">
              <div class="user-img">
                <img src="assets/img/user.png" alt="">
              </div>
              <div class="h-fz--12 ps-2 w-100">
                <p class="m-0">Juan Arboleda</p>
                <p class="h-color--tertiary">Dirección: Pascal 540</p>
                <div class="row">
                  <div class="col-md-5">
                    <button class="g-button g-button--primary-small">O - Min</button>
                  </div>
                  <div class="col-md-5">
                    <button class="g-button g-button--line-small">Ver ubicación</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
