<form   [formGroup]="formStore" (ngSubmit)="submitAssign()"  >
  <div class="modal-header" style="padding: 0px 15px;">
    <h2 class="modal-login--title w-100">Asignar tiendas</h2>
    <div class="modal-login--close">
      <a class="btn-close" mat-dialog-close></a>
    </div>
  </div>
  <div class="modal-body justify-content-center" >
    <div class="col-md-12 mt-3">
      <div class="g-modal--body">
        <div class="mt-3">
          <span class="g-span--tertiary">Tiene acceso a:</span>
          <div class="col-md-8">
            <div class="md-checkbox">
              <input id="allstore" type="checkbox" formControlName="all_stores" (change)="checkAllStore()">
              <label for="allstore" class="h-fw--900">Todas las tiendas</label>
            </div>
          </div>
        </div>
        <div class="mt-3" formArrayName="stores">
          <span class="g-span--tertiary">Tiene acceso solo a las tiendas:</span>
          <div class="scroll">
            <div class="col-md-8" *ngFor="let chkItems of store_chk.controls; let pointIndex=index" [formGroupName]="pointIndex">
              <div class="md-checkbox">
                <input [id]="stores[pointIndex].id" type="checkbox" formControlName="chkStore" (change)="checkInput()">
                <label [for]="stores[pointIndex].id" class="h-fw--900">{{stores[pointIndex].title}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-10 mx-auto">
        <div class="mb-3">
          <div class="mt-3">
            <button type="submit"
            class="g-button g-button--primary"
            [disabled]="formStore.invalid"
            [class.g-button--secundary]="formStore.invalid">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
