<div class="container-fluid p-0 h-100">
  <div class="row m-0">
    <div class="col-md-8 p-0">
      <div class="header">
        <div class="d-flex align-items-center h-100 p-2 justify-content-between">
          <app-navegation></app-navegation>
          <div class="d-flex align-items-center">
        <!--<div class="search">
              <input type="text" placeholder="Buscar...">
              <i class="icon-search"></i>
            </div> -->
            <div class="ms-4 d-flex align-center">
              <i class="icon-add icon--five me-3"></i>
              <i class="icon-label icon--five me-3"></i>
              <i class="icon-net icon--five me-2"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 pe-0 ps-2">
      <app-ticket></app-ticket>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
