<form  [formGroup]="formTag" (ngSubmit)="saveTag()"  >
  <div class="modal-header" style="padding: 0px 15px;">
    <h2 class="modal-login--title w-100">Comercio - Etiquetas</h2>
    <div class="modal-login--close">
      <a class="btn-close" mat-dialog-close></a>
    </div>
  </div>
  <div class="modal-body">
    <div class="col-md-12 mt-2">
      <div class="g-modal--body">
        <span >Etiqueta tu comercio</span>
        <div class="g-input--material mb-3">
          <label for="material-input">
            <ngx-select
            [multiple]="true"
            [items]="tag"
            size="default"
            autocomplete="true"
            formControlName="selecttag"
            [autoClearSearch]="true"
            [defaultValue]="tag_company"
            optionValueField="id"
            optionTextField="title" >

            <ng-template ngx-select-option-not-found let-input>
                No existe la etiqueta proporcionada.<hr>
              <button type="button" class="btn btn-primary" (click)="addTag(input)">(+) Añadir "{{input}}" como nueva etiqueta</button>
            </ng-template>
          </ngx-select>
          </label>
      </div>

      </div>
      <div class="col-md-10 mx-auto">
        <div class="mb-3">
          <div class="mt-3">
            <button type="submit" class="g-button g-button--primary"
            [disabled]="formTag.invalid"
            [class.g-button--secundary]="formTag.invalid">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
